/*Video Page*/
.video-page-holder{
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-top: 15px;
  margin-left: 25%;
}
.video-page-holder .video-wrap{
  width: 650px;
  height: 380px;
  position: relative;
}
.video-wrap video{
  width: 100%;
  height: 100%;
}
.video-page-holder .video-wrap .main-video,
.video-page-holder .video-wrap .small-video{
  position: absolute;
  background: #181818;
}
.video-page-holder .video-wrap .main-video{
  background: #000000;
}

.video-page-holder .video-wrap .main-video{
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-page-holder .video-wrap .small-video{
  bottom:0;
  right: 0;
  width: 161px;
  height: 120px;
  border-left: 1px solid #888;
  border-top: 1px solid #888;
}
.video-page-holder .actions-holder{
  padding: 10px;
}
.video-page-holder .actions-holder a{
  line-height: 50px;
  color: #fff;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 160px;
}

/*Video Page*/
/* .video-page-holder-horizontal .left,
.video-page-holder-horizontal .right{
  float: left;
}
.video-page-holder-horizontal .right{
  width: 250px;
}
.video-page-holder-horizontal .right .message-holder{
  width: 100%;
  height: 565px;
}
.video-page-holder-horizontal .right .message-holder{
  border: none;
  background: #2F2D2E;
} */
